.about {
  text-align: center;
  color: white;
  justify-content: center;
  width: 100%;
 align-items: center;
 
  }

.myaboutext {
}


.competence {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.listcom {
  position: absolute;
  justify-content: space-evenly;
  top: 5rem;
  left: 20rem;
  }

  .listcom li{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
  }

.listcom p{
  font-size: 1.3rem;
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}