.about{
    text-align: center;
    color: white;
    justify-content: center;
    width: 100%;
}

.column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.myaboutext{

}

.competence{

}

.listecompetence{

}