
#principale {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.contenu{
  width: 100%;
  display: flex;
  justify-content: center;
}

.contenu h2{
  padding-top: 1rem;
 color: white;
 position:absolute;
}

.projet {
  display: flex;
  justify-content: center;
  width: 60%;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  height: 35em;
  width: 32em;
  color: white;
  border-radius: 20px;
  top: 7px;
  background-color: white;
}

.div_image{
  height: 70%;
  width: 100%;
}

.div_image img{
  width: 100%;
  height: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.div_contenu{
display: flex;
flex-direction: row;
align-items: center;
width: 100%;
margin-top: 2rem;
padding-bottom: 1.5rem;
border-bottom: 1px solid rgba(200, 200, 200, 0.5);
}

.col-md-8{
  width: 85%;
}

.col-md-4{
  width: 15%;
}

.div_contenu span{
  color: black;
  margin: 1rem;
  font-size: 20px;
}

.description{
  margin-top: 1rem;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.texte{
  width: 80%;
  margin-left: 1rem;
}

.bouton{
  width: 20%;
}

button{
  background-color: #007bff;
  color: white;
  padding: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
}

.texte span{
  color: black;
}

/* @keyframes Animation1 {
  0% {
    box-shadow: 13px 36px 0px 9px rgba(135,88,255,0.32);
    -webkit-box-shadow: 13px 36px 0px 9px rgba(135,88,255,0.32);
    -moz-box-shadow: 13px 36px 0px 9px rgba(135,88,255,0.32);
  }
  30% {
    box-shadow: -18px 36px 0px 9px rgba(135,88,255,0.32);
    -webkit-box-shadow: -18px 36px 0px 9px rgba(135,88,255,0.32);
    -moz-box-shadow: -18px 36px 0px 9px rgba(135,88,255,0.32);
  }
  60% {
    box-shadow: -30px -19px 0px 9px rgba(135,88,255,0.32);
    -webkit-box-shadow: -30px -19px 0px 9px rgba(135,88,255,0.32);
    -moz-box-shadow: -30px -19px 0px 9px rgba(135,88,255,0.32);
  }
  80% {
    box-shadow: 29px -24px 0px 9px rgba(135,88,255,0.32);
    -webkit-box-shadow: 29px -24px 0px 9px rgba(135,88,255,0.32);
    -moz-box-shadow: 29px -24px 0px 9px rgba(135,88,255,0.32);
  }
  100% {
    box-shadow: 29px 27px 0px 9px rgba(135,88,255,0.32);
-webkit-box-shadow: 29px 27px 0px 9px rgba(135,88,255,0.32);
-moz-box-shadow: 29px 27px 0px 9px rgba(135,88,255,0.32);
  }
} */

.iconleft i {
  color: white;
  font-size: 4rem;
}

.iconright i {
  font-size:4rem ;
  color: white;
}

.iconleft {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.iconright {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media (max-width: 955px) {
  .card {
    width: 20em;
    height: 20em;
  }
  .iconleft {
    font-size: 3rem;
    justify-content: center;
  }
  .iconright {
    font-size: 3rem;
    justify-content: center;
  }
}

@media (max-width: 920px) {
  .card {
    width: 21em;
    height: 30em;
  }
  .iconleft {
    font-size: 3rem;
    justify-content: center;
  }
  .iconright {
    font-size: 3rem;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .card {
    width: 15em;
    height: 25em;
  }
  .iconleft {
    font-size: 3rem;
  }
  .iconright {
    font-size: 3rem;
  }
}

@media (max-height: 600px) {
  .card {
    width: 14em;
    height: 14em;
  }
  .iconleft {
    font-size: 3rem;
    justify-content: flex-end;
  }
  .iconright {
    font-size: 3rem;
    justify-content: flex-start;
  }

  #principale{
    height: 50vh;
  }
}
